.card {
  display: flex;
  flex-direction: column;
  border: solid 1px gainsboro;
  box-shadow: 0px 6px 10px -5px #777;
  width: 15em;
  min-height: 5em;
}

header {
  border-bottom: solid 1px lightgrey;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

ul {
  margin: 0px 15px;
  list-style: none;
}

li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

button {
  display: flex;
  padding: 0px 8px;
}
