.card {
  display: flex;
  flex-direction: column;
  border: solid 1px gainsboro;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 20em;
  min-height: 10em;
  margin: 1em;
  background-color: whitesmoke;
}

header {
  border-bottom: solid 1px lightgrey;
  border-radius: 4px 4px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

ul {
  margin: 0px 15px;
  list-style: none;
}

li {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.listButtons {
  display: flex;
}

button {
  padding: 0px 8px;
  margin: 0 3px;
}

.removeButton {
  background-color: lightcoral;
}

li button {
  width: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 670px) {
  .card {
    margin-bottom: 2em;
    width: 90%;
  }
}
